:root {
  --banner-color: #501a1a;
  --bg-color: papayawhip;
  --button-color: brown;
  --h1-color: white;
  --h2-color: chocolate;
  --h3-color: brown;
  --p-color: white;
  --primary-color: brown;
  --secondary-color: chocolate;
  --separator-color: #d2691e4d;
}

* {
  box-sizing: border-box;
  font-family: 'Lilita One', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--banner-color);
}

h1 {
  color: var(--h1-color);
  font-size: 48px;
  margin: 0;
  text-align: center;
}

h2 {
  color: var(--h2-color);
  font-size: 30px;
  margin: 0;
}

h3 {
  color: var(--h3-color);
  margin: 0;
}

p {
  color: var(--p-color);
}

.skeleton-loader {
  animation: loading-skeleton infinite 1.5s;
}

.skeleton-loader:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
/* login */
#user-input {
  border: none;
  border-bottom: 2px solid chocolate;
  box-shadow: 4px 4px 7px 2px #888888;
  font-size: 16px;
  margin-right: 16px;
  padding: 10px;
}

/* upload */
#upload-container {
  width: 80%;
  border: 2px dashed chocolate;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  gap: 20px;
}

#form-upload {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#preview {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  & img {
    height: 60px;
    width: 60px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 200px;
  --c: no-repeat linear-gradient(var(--secondary-color) 0 0);
  background: var(--c), var(--c), var(--separator-color);
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.preview {
  align-items: center;
  display: flex;
  gap: 15px;
}

.info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  & p {
    color: var(--primary-color);
    font-size: 14px;
    margin: 0;
  }
}

#button-upload {
  font-size: 16px;
  width: 140px;
}

#button-login {
  font-size: 16px;
}

#userId {
  color: var(--primary-color);
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin: 16px;
}

/* main */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  margin: 110px 0;
  width: 100%;
}

.section-container {
  align-items: center;
  border-bottom: 4px solid var(--separator-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-bottom: 30px;
  width: 100%;
}

.section-container:nth-child(5) {
  border-bottom: none;
}

img {
  border-radius: 18px;
  box-shadow: 4px 4px 7px 2px #888888;
  height: 350px;
  margin: 0;
  object-fit: cover;
  width: 350px;
}

.dogs-container {
  align-items: center;
  display: flex;
  gap: 90px;
  max-width: 80%;
  overflow-x: scroll;
  padding: 12px;
}

button,
#label-upload {
  border: none;
  background-color: var(--button-color);
  border-radius: 16px;
  box-shadow: 4px 4px 7px 2px #888888;
  color: var(--p-color);
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  &:active {
    background-color: sandybrown;
    color: var(--primary-color);
  }
}

#button-add-1,
#button-add-2,
#button-remove {
  display: flex;
  bottom: 10px;
  border: none;
  border-radius: 40px;
  position: absolute;
  right: 10px;
  padding: 8px;
  box-shadow: 4px 4px 10px 0px black;
}

.icon {
  box-shadow: none;
  width: 40px;
  height: 40px;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

/* Footer */
footer {
  align-items: center;
  background-color: var(--banner-color);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  font-size: 16px;

  & p {
    color: var(--p-color);
  }

  & span {
    color: var(--secondary-color);
  }

  & a {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

.contact {
  display: flex;
  gap: 12px;
}

.footer-icon {
  height: 32px;
  width: 32px;
  box-shadow: none;
  border-radius: 0;
}

.inactive {
  display: none;
}

/* media queries */
@media (max-width: 768px) {
  header {
    & button {
      margin: auto;
    }
  }

  #upload-container {
    width: 100%;
    border: none;
    border-top: 4px solid rgba(210, 105, 30, 0.3);
    border-bottom: 4px solid rgba(210, 105, 30, 0.3);
  }

  .container {
    justify-content: space-between;
    height: 100vh;
  }

  .dogs-container {
    gap: 40px;
    max-width: 90%;
  }

  button {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 36px;
  }

  #userId {
    margin: 0;
  }

  #button-add-1,
  #button-add-2,
  #button-remove {
    bottom: -10px;
    right: 10px;
  }

  footer {
    font-size: 14px;
  }
}
